<!DOCTYPE html>
<html>
<head>
	<title>Team Section</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="coreteamstyle.css">
</head>
<body>
  
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>Our Team</h1>
                 <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="image/deepak.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5 class="name">Deepak Shukla</h5>
                               <p class="name">State Convener</p>
                            <br>
                               <a href="mailto:2019uee1692@mnit.ac.in" class="button">Contact Me</a>
                               <!-- <button <a href="mailto:shaurya1272000@gmail.com"></a> class="bt" >Contact</button>
             -->
                               
                               <div class="social-links">
                                   <a href="https://www.instagram.com/p/CIui_iqHhkv/?igshid=13xoisuc1nj20" target="_blank"><span class="fa fa-instagram"></span></a>
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                                   
                               </div>
                          </div>
                      </div>
                  </div>

                  <div class="item">
                      <img src="image/shaurya3.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>shaurya Singh</h5>
                               <p>Designer</p>
                               <br>
                               <a href="mailto:" class="button">Contact Me</a>
                               <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href="https://www.linkedin.com/in/shaurya-pratap-singh-5263981b1/" target="_blank"><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>

                  
                  <div class="item">
                      <img src="image/shre.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Shreshtha</h5>
                               <p>Logo Designer</p>
                               <br>
                               <a href="mailto:" class="button">Contact Me</a>
                               <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>

                  
                  <div class="item">
                    <img src="image/aniket.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/kaushiki.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/rahul.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/silky.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/shre.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/shre.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="image/shre.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="image/shre.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Shreshtha</h5>
                             <p>Logo Designer</p>
                             <br>
                               <a href="mailto:" class="button">Contact Me</a>
                             <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                             </div>
                        </div>
                    </div>
                </div>
                  <div class="item">
                      <img src="image/deepak.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Deepak</h5>
                               <p>jhandu</p>
                               <br>
                               <a href="mailto:" class="button">Contact Me</a>
                               <div class="social-links">
                                <a href=""><span class="fa fa-instagram"></span></a>
                                <a href=""><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
  </section>

</body>
</html>
