*{
    margin: 0px;
    padding: 0px;
}
.heading_state p{
    text-align: center;
    
}
.head_section{
    background-color: rgb(255, 244, 234);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.five_team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 30vw;
    border-radius: 50%;
    border: rgb(255, 154, 1) 10px solid;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vw;
    text-align: center;
    font-family: arial;
    margin: 40px 2vw;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(255, 115, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.tablecontact{
    color: black;
    font-size: 16px;
}
/* *{
    margin: 0px;
    padding: 0px;
}
.heading_state p{
    text-align: center;
    
}
.five_team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 30vw;
    border-radius: 50%;
    border: rgb(255, 154, 1) 10px solid;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vw;
    text-align: center;
    font-family: arial;
    margin: 40px 2vw;
}
 */
